<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand " style="cursor: pointer" routerLink="/"> <em style="font-weight: bold">Recipe Book</em></a>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLinkActive="active" routerLink="/recipes" style="cursor: pointer" style="font-weight: 500" >Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list" style="cursor: pointer" style="font-weight: 500">Shopping List</a>
      </li>
    </ul>
      
    <ul class="navbar-nav ml-auto">
      <ng-template [ngIf]="!authService.isAuthenticated()" >
          <li class="nav-item ">
              <a class="nav-link register" routerLinkActive="active" routerLink="/signup" style="cursor: pointer" style="font-weight: 500">Register</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link register" routerLinkActive="active" routerLink="/signin" style="cursor: pointer" style="font-weight: 500">Login</a>
              </li>
      </ng-template>

      <li class="nav-item ">
          <a class="nav-link" routerLinkActive="active" style="cursor: pointer" style="font-weight: 500; cursor: pointer" (click)="onLogout()" *ngIf="authService.isAuthenticated()" >Logout</a>
        </li>
      
      <li class="nav-item">
          <div class="dropdown open" *ngIf="authService.isAuthenticated()" >
              <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer" style="font-weight: 500">
                Manage
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" style="cursor: pointer" (click)="onSaveData()" >Save Data</a>
                <a class="dropdown-item" style="cursor: pointer" (click)="onFetchData()" >Fetch Data</a>
              </div>
            </div>
      </li>
     
    </ul>
  </div>
</nav>
<br>